body {
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: monospace;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding-top: 30px;
    padding-right: 215px;
    margin: auto;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 13rem;
    font-size: 24px;
}

.container {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.left-content h3 {
    color: #E5E7EB;
}

.info-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.right-box {
    background-color: rgb(84, 103, 119);
    color: #E5E7EB;
    padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 60px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    padding: 15px 15px 15px 15px;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(39, 83, 241);
    border-radius: 5px;
    border-width: thick;
}

.column-text {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.text {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: sans-serif;
    color: #1F2937;
}

#thor {
    font-style: bold;
    font-size: 24px;
    align-self: flex-end;
    padding-left: 20px;
    padding-top: 200px;
}

.last-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.last-box {
    border-radius: 10px;
    background-color: #3882F6;
    padding-left: 300px;
    padding-right: 300px;
}


button {
    background-color: #3882F6;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #E5E7EB;
}